name: ez_list_view
description: "A defensive ListView.builder for Flutter that prevents crashes from unbounded constraints and provides clear debugging information."
version: 0.0.2
homepage: https://github.com/Evgenii-Zinner/ez-list-view/
repository: https://github.com/Evgenii-Zinner/ez-list-view/
issue_tracker: https://github.com/Evgenii-Zinner/ez-list-view/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
